.cart-icon-container {
  width: 45px;
  height: 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    font-size: 17px;
    font-weight: bold;
  }
}
